
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k
input	soln4	pressurePump	pressure=100k

# chemical definitions
chem	Plasma Sample	soln1	1
chem	Wash Buffer	soln2	1
chem	Lysis Buffer	soln3	1
chem	Ethanol	soln4	1

# eval chem time concentration node
eval	Plasma Sample	0	out	79.54545m
eval	Wash Buffer	0	out	284.09091m
eval	Lysis Buffer	0	out	318.18182m
eval	Ethanol	0	out	318.18182m

    