
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k

# chemical definitions
chem	R1	soln1	1
chem	R2	soln2	1
chem	sample	soln3	1

# eval chem time concentration node
eval	R1	0	out	250.0m
eval	R2	0	out	250.0m
eval	sample	0	out	500.0m

    