
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k

# chemical definitions
chem	Griess Reagent A	soln1	1
chem	Griess Reagent B	soln2	1
chem	Water Sample	soln3	1

# eval chem time concentration node
eval	Griess Reagent A	0	out	250.0m
eval	Griess Reagent B	0	out	250.0m
eval	Water Sample	0	out	500.0m

    