
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k

# chemical definitions
chem	Griess_Reagent_A	soln1	1
chem	Griess_Reagent_B	soln2	1
chem	Water_Sample	soln3	1

# eval chem time concentration node
eval	Griess_Reagent_A	0	out	250.0m
eval	Griess_Reagent_B	0	out	250.0m
eval	Water_Sample	0	out	500.0m

    