
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k
input	soln4	pressurePump	pressure=100k

# chemical definitions
chem	sample	soln1	1
chem	H2O	soln2	1
chem	R2	soln3	1
chem	R1	soln4	1

# eval chem time concentration node
eval	sample	0	out	23.4375m
eval	H2O	0	out	39.0625m
eval	R2	0	out	97.65625m
eval	R1	0	out	839.84375m

    