
# time inputs

transient	1m	0.1m


# input devices
input	soln1	pressurePump	pressure=100k
input	soln2	pressurePump	pressure=100k
input	soln3	pressurePump	pressure=100k

# chemical definitions
chem	Glucose Sample	soln1	1
chem	Dye (o-dianisidine)	soln2	1
chem	Enzyme Mix (GOx/HRP)	soln3	1

# eval chem time concentration node
eval	Glucose Sample	0	out	62.5m
eval	Dye (o-dianisidine)	0	out	312.5m
eval	Enzyme Mix (GOx/HRP)	0	out	625.0m

    